<section class="mat-typography">
<ng-container *ngIf="hero">
  <mat-card>
    <!-- <mat-card-header> -->
      <mat-card-title>{{hero.name | uppercase}} Details</mat-card-title>
      <mat-card-subtitle><span>id: </span>{{hero.id}}</mat-card-subtitle>
    <!-- </mat-card-header> -->
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput  [(ngModel)]="hero.name" 
               value="hero.name"
               placeholder="name"
          />
      </mat-form-field>
    </mat-card-content>
    <!-- <mat-card-actions> -->
      <button 
        mat-raised-button (click)="goBack()"
        >go back</button>
      <button 
        mat-raised-button (click)="save()"
        >save</button>
    <!-- </mat-card-actions> -->
  </mat-card>
</ng-container>
</section>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->