<section class="mat-typography">
<h1>{{title}}</h1>
<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-button routerLink="/dashboard" routerLinkActive="active" >Dashboard</button>
      <button mat-button routerLink="/heroes"
      routerLinkActive="active" >Heroes</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-messages></app-messages>
</section>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->