<section class="mat-typography">
<h2>My Heroes</h2>
<!-- 
<div>
  <label>Hero name:
    <input #heroName />
  </label> 
    <button 
    (click)="add(heroName.value); heroName.value=''">
    add
  </button>
  </div>
  -->
  <!-- (click) passes input value to add() and then clears the input -->
  <mat-card class="example-card">
    <mat-card-header>
    <!-- <mat-card-title>Hero registration service!!</mat-card-title>
    <mat-card-subtitle>...just enter thy name!</mat-card-subtitle> -->
  </mat-card-header>
  <mat-form-field>
    <input matInput #heroName />
    <mat-hint>Just enter hero name...!</mat-hint>
  </mat-form-field>
  <button 
    mat-button
    color="accent"
    (click)="add(heroName.value); heroName.value=''">
    add
  </button>
  </mat-card>


<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
<section class="mat-typography">

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->