<section class="mat-typography">
<div id="search-component">
  <label 
     for="search-box" 
     class="h4"
  > Hero Search </label>

  <!-- <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul> -->

<mat-form-field>
  <input
     #searchBox 
     id="search-box"
     type="text" matInput 
     (input)="search(searchBox.value)" 
     [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let hero of heroes$ | async" 
    [value]="hero.id">
    <a routerLink="/detail/{{hero.id}}">
      {{hero.name}}
    </a>
  </mat-option>
</mat-autocomplete>


</div>
</section>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->